<h1>Your Groups

<%= link_to "Create Group", groups_new_url, :class => 'btn btn-primary pull-right' %>
</h1>

<% if @groups.count != 0 %>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    <thead>

    <% @groups.each do |group| %>
        <tr>
            <td><%= link_to group.name, groups_show_url(group.id) %></td>
            <td><%= group.description %></td>
        </tr>
    <% end %>
</table>
<% else %>
    <p>You are not a member of any groups.</p>
<% end %>
