<%= form_tag groups_create_url, :method => 'post' do %>
    <label>Name</label><input name="name" type="text"></input><br>
    <label>Description</label><input name="description" type="text"></input><br>
    <button>Submit</button>
<% end %>
